# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Ignore Firebase config files
assets/GoogleService-Info.plist
assets/google-services.json

android/app/google-services.json
